@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #0c122c;
  background-image: url(../images/bg-desktop.png);
  background-position-y: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flyo-data-component {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
}

.flyo-data-component__action-box {
  background-color: #1d2c67;
  border-radius: 0.5rem;
  border-top-right-radius: 7rem;
  padding: 2.4rem 6.4rem 2.4rem 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}

.flyo-data-component__logo {
  width: 65%;
}

.flyo-data-component__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
}

.flyo-data-component__icon-box {
  background-color: #0c122c;
  border-radius: 0.9rem;
  padding: 1.6rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flyo-data-component__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.flyo-data-component__data-storage {
  background-color: #1d2c67;
  border-radius: 0.7rem;
  width: 40rem;
  padding: 2.4rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.flyo-data-component__data-info {
  color: #848794;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.flyo-data-component__data-info--bold {
  color: #dddbff;
  font-weight: 500;
}

.flyo-data-component__data-slider {
  background-color: #0c122c;
  border-radius: 15rem;
  margin-bottom: 0.8rem;
  padding: 0.8rem 0;
  position: relative;
  width: 100%;
}

.flyo-data-component__data-slider--gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 15rem;
  padding: 0.6rem 0;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 75%;
}

.flyo-data-component__data-slider--gradient::after {
  background-color: #dddbff;
  border-radius: 50%;
  content: " ";
  height: 75%;
  position: absolute;
  width: 3%;
  top: 1px;
  right: 2px;
}

.flyo-data-component__data-range {
  color: #dddbff;
  font-size: 1.2rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flyo-data-component__data-left {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 85% 75%, 0% 75%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 85% 75%, 0% 75%);
  padding: 1.6rem 2.4rem 3.2rem;
  position: absolute;
  top: -4rem;
  right: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.flyo-data-component__data-left--dark-blue {
  font-size: 3.6rem;
  font-weight: 700;
}

.flyo-data-component__data-left--greyish-blue {
  color: #848794;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.aside {
  color: #848794;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.aside .attribution {
  font-size: 1.2rem;
}

.aside .attribution__link:link, .aside .attribution__link:visited {
  color: aquamarine;
  text-decoration: none;
}

.aside .attribution__link:link:hover, .aside .attribution__link:visited:hover {
  color: aqua;
  font-weight: 500;
}


@media (max-width: 400px) {
  body {
    background-image: url(../images/bg-mobile.png);
    background-position: top;
  }
  .flyo-data-component {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flyo-data-component__action-box {
    padding: 3.2rem 4.8rem 3.2rem 3.2rem;
    gap: 2.8rem;
  }
  .flyo-data-component__logo {
    width: 58%;
  }
  .flyo-data-component__icon-box {
    padding: 2rem;
  }
  .flyo-data-component__data-storage {
    max-width: 28rem;
    padding-bottom: 3.6rem;
    position: relative;
  }
  .flyo-data-component__data-info {
    text-align: center;
  }
  .flyo-data-component__data-left {
    -webkit-clip-path: none;
            clip-path: none;
    padding: 1rem 2rem;
    border-radius: 0.9rem;
    top: 80%;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .flyo-data-component__data-left--dark-blue {
    font-size: 3rem;
  }
  .flyo-data-component__data-left--greyish-blue {
    font-size: 0.8rem;
  }
}
