//VARIABLES
$color__blue--very-dark: hsl(229, 57%, 11%);
$color__blue--dark: hsl(228, 56%, 26%);
$color__blue--grayish: hsl(229, 7%, 55%);
$color__blue--pale: hsl(243, 100%, 93%);
$color__white: #fff;
