@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");

@import "mixins";
@import "variables";

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $color__blue--very-dark;
  background-image: url(../images/bg-desktop.png);
  background-position-y: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  height: 100vh;

  @include flex;
  @include flex__center--hv;
}

.flyo-data-component {
  position: relative;
  @include flex;
  @include gap--s;

  &__action-box {
    background-color: $color__blue--dark;
    border-radius: 0.5rem;
    border-top-right-radius: 7rem;
    padding: 2.4rem 6.4rem 2.4rem 2.4rem;

    @include flex;
    @include flex-direction--col;
    @include gap--s;
  }

  &__logo {
    width: 65%;
  }

  &__actions {
    @include flex;
    @include flex__align-items--center;
    @include gap--xs;
  }

  &__icon-box {
    background-color: $color__blue--very-dark;
    border-radius: 0.9rem;
    padding: 1.6rem;
    position: relative;

    @include flex;
    @include flex__justify-content--center;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45%;
    transform: translate(-50%, -50%);
  }

  &__data-storage {
    background-color: $color__blue--dark;
    border-radius: 0.7rem;
    width: 40rem;
    padding: 2.4rem;

    @include flex__align-self--end;
  }

  &__data-info {
    color: $color__blue--grayish;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;

    &--bold {
      color: $color__blue--pale;
      font-weight: 500;
    }
  }

  &__data-slider {
    background-color: $color__blue--very-dark;
    border-radius: 15rem;
    margin-bottom: 0.8rem;
    padding: 0.8rem 0;
    position: relative;
    width: 100%;

    &--gradient {
      background-image: linear-gradient(
        to right,
        hsl(6, 100%, 80%),
        hsl(335, 100%, 65%)
      );
      border-radius: 15rem;
      padding: 0.6rem 0;

      position: absolute;
      top: 0.2rem;
      left: 0.2rem;

      width: 75%;

      &::after {
        background-color: $color__blue--pale;
        border-radius: 50%;
        content: " ";
        height: 75%;
        position: absolute;
        width: 3%;
        top: 1px;
        right: 2px;
      }
    }
  }
  &__data-range {
    color: $color__blue--pale;
    font-size: 1.2rem;
    font-weight: 500;

    @include flex;
    @include flex__justify-content--space-between;
  }

  &__data-left {
    background-color: $color__white;
    @include flex;
    @include flex__align-items--center;
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 85% 75%, 0% 75%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 85% 75%, 0% 75%);
    padding: 1.6rem 2.4rem 3.2rem;

    position: absolute;
    top: -4rem;
    right: 2.5rem;

    @include flex;
    @include flex__align-items--center;
    @include gap--xxs;

    &--dark-blue {
      font-size: 3.6rem;
      font-weight: 700;
    }

    &--greyish-blue {
      color: $color__blue--grayish;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
}

//Media Queries for Mobile-design
@import "media-queries";
